@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;


}

:root {
    /* ## Colors */
    /* ### Primary */

    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);

    /* ### Neutral */

    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black-opacity: rgba(124, 6, 6);

    /* ## Typography */
    /* ### Body Copy */
    --Fontsize: 16px;
}



/* General Styles */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}




/* General Style */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header-start */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 3px 5px 20px rgba(253, 253, 253, 0.6);
}

.header-container .header-logo {
    display: flex;
    align-items: center;
    justify-items: center;
}

.header-container .header-content {
    display: flex;
    justify-items: center;
    align-items: center;
}

.header-container .header-cart {
    display: flex;
    justify-items: center;
    align-items: center;
}

.header-container .header-cart .cart {
    cursor: pointer;
}

.header-container .header-cart .cart-owner img {
    width: 50px;
    height: 50px;
    margin-left: 13px;
    cursor: pointer;
}

.header-container .header-logo .logo {
    /* align-self: center;
    margin-top: -3px; */
}

.header-container .header-logo div {
    margin: 0px 4px 0px 5px;
}

.header-container .header-logo .open-menu,
.header-container .menu .close-menu {
    cursor: pointer;
}



.header-menus {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
    visibility: visible;
    backface-visibility: hidden;
    z-index: 100;
}

.header-menus .menu-overlay {
    background-color: #000;
    opacity: 0.6;
    background-blend-mode: overlay;
    width: inherit;
    height: inherit;
    position: fixed;
    top: 0;
    left: 0;

}

.header-menus .menu {
    background-color: var(--White);
    padding: 20px;
    height: inherit;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;

}


.header-menus .menu ul {
    padding: 30px 0px;
}

.header-menus .menu ul li a {
    display: block;
    color: var(--Grayish-blue);
    white-space: normal;
}

.header-menus .menu ul li a:hover {
    color: var(--Dark-grayish-blue);
    transition: color .4s ease-in-out;
}

.header-menus .menu ul li:not(:first-of-type) {
    padding-bottom: 15px;

}

.header-menus.show-menu {
    display: block;
    transform: translateX(0);

}



/* MAIN SEM START */
main {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 30px;
}


/* PRODUCTS SECTION START */

#product {
    position: relative;

}


/* ADD TO CART  */
#product .container .cart-items {
    display: flex;
    justify-items: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease-out;

}

#product .container .cart-items.show-cart-item {
    visibility: visible;
    opacity: 1;
}

#product .container .cart-items .item {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 100%;
    height: 250px;
    background-color: var(--White);
    border-radius: 30px;
    box-shadow: 29px 29px 79px 21px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 100;
}

#product .container .cart-items .item .content {
    text-align: center;
    padding: 18px 20px;
    flex: 1 1 0%;
    overflow-x: hidden;
}

#product .container .cart-items .title h5 {
    padding-bottom: 10px;
    padding: 30px 0px 10px 20px;
    border-bottom: 1px solid var(--Grayish-blue);
    font-size: 20px;
}

/* ADD TO CART  ENDS */


/* PREVIEW PRODUCT CART IMAGES */
.product-image-container .product-cart-image {
    display: none;
}

.product-image-container .product-cart-image .preview-image {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    place-content: center;
    place-items: center;
    margin-top: 20px;
}

.product-cart-image .image-one {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.product-cart-image .image-one img {
    border-radius: 10px;
}



.product-cart-image .image-one::after {
    content: '';
    position: absolute;
    text-align: center;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 0%;
    border-radius: 10px;
    background-color: var(--Grayish-blue);
    opacity: 0.6;
    background-blend-mode: overlay;
    transition: all .6s ease-in-out;


}


.product-cart-image .image-one:hover::after {
    width: 100%;
    height: 100%;
}

.pro-image-animate {
    transition: all .5s ease-out;
    /* display: ; */
}

/* SLIDE PRODUCTS DESIGN */
.product-image-container .product-image {
    position: relative;

}

.slide-product-image {
    position: absolute;
    padding: 0px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    flex-direction: row;
}

.slide-product-image span {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #000;
    opacity: 0.9;
    background-blend-mode: overlay;
    cursor: pointer;
    z-index: 70;

}

.slide-product-image span svg {
    color: #fff;
}

.slide-product-image span:last-of-type svg {
    transform: rotate(180deg);
}


/*  PRODUCT CONTAINER */
.product-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;

}

.product-container .description .desc-title>* {
    margin: 10px 0px;
    font-weight: bold;
}

.product-container .description .desc-title h3 {
    color: var(--Orange);
}

.product-container .description .desc-title h2 {
    font-size: 25px;
}

.product-container .description .desc-title p {
    font-size: 15px;
    font-weight: normal;

}

.product-container .product-image img {
    height: auto;
    width: 100%;
}

.product-container .description div {
    margin: 10px 0px;
}

.product-container .desc-price {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    font-weight: bold;
}

.product-container .desc-price div {
    font-size: 18px;

}

.product-container .desc-price div:first-of-type span:first-of-type {
    font-size: 28px;
}

.product-container .desc-price div:first-of-type span:last-of-type {
    padding: 3px;
    background-color: var(--Pale-orange);
    border-radius: 7px;
    color: var(--Orange);
}

.product-container .desc-price div:last-of-type span {
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
}

.product-container .desc-add-button {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.product-container .desc-add-button button {
    width: 100%;
    padding: 15px 6px;
    outline: none;
    border: none;
    border-radius: 20px;
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.product-container .desc-add-button button:first-child {
    width: 100%;
    padding: 15px;
    outline: none;
    border: none;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.product-container .desc-add-button button:first-child span:not(:nth-child(2)) {
    color: var(--Orange);
}

.product-container .desc-add-button button:last-child {
    background-color: var(--Orange);
    color: var(--White);
    font-weight: 500;

}


@media screen and (min-width: 500px) {
    #product .container .cart-items .item {
        width: 350px;
        top: -10px;

    }

}



@media screen and (min-width: 768px) {
    main {
        max-width: 800px;
        margin: 0 auto;
        padding: 10px 30px;
    }

    .product-image-container .product-cart-image {
        display: block;
    }


    .product-container .product-image img {
        height: 500px;
        object-fit: cover;
    }
}

@media screen and (min-width: 900px) {

    main {
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px 30px;
    }

    #product .container .cart-items .item {
        width: 350px;
        top: -10px;
        right: -60px;
    }

    /* PRODUCTS SECTION START */
    .product-container {
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
        place-items: center;
        grid-gap: 50px;
        margin: 80px 0px;

    }

    .product-container .product-image img {
        border-radius: 20px;
    }

}


@media screen and (min-width: 1200px) {

    .header-container {
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        padding: 30px 20px;

    }

    .header-container .header-content * {
        margin-right: 20px;
    }


    .header-container .header-logo div {
        margin: 0px;
    }



    .header-menus {
        position: initial;
        height: auto;
        width: auto;
        transform: translateX(0);
        visibility: visible;

    }

    .header-menus .menu-overlay {
        display: none;
    }

    .header-menus .menu {
        position: initial;
        min-height: auto;
        width: auto;
        padding: 20px;

    }


    .header-menus .menu ul {
        padding: 0px 0px;
        margin-bottom: -14px;

    }

    .header-menus .menu ul li {
        margin-right: 30px;
        display: inline-flex;
        position: relative;

    }

    .header-menus .menu ul li a::before {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 0%;
        height: 1.5px;
        background-color: var(--Orange);
        transition: all .6s ease-in-out;


    }

    .header-menus .menu ul li a:hover::before {
        width: 80%;
    }

    .header-menus .menu ul li {
        padding-bottom: 15px;
    }




    .header-container .open-menu,
    .header-container .menu .close-menu {
        display: none;
    }

    main {
        max-width: 1200px;

    }

    #product .container .cart-items .item {
        width: 350px;
        top: -20px;
        right: 0px;

    }



    /* PRODUCTS SECTION START */

    .product-container .description .desc-title h2 {
        font-size: 35px;
    }

    .product-container .description .desc-title p {
        font-size: 17px;
        line-height: 1.5;

    }



    .product-container .desc-add-button {
        grid-template-columns: repeat(2, 1fr);
    }



}